html {
    font-size: 62.5%;
}

*::before,
*::after,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

ul {
    list-style-type: none;
}

input {
    border: none;
    outline: none;
}

input:focus {
    border: none;
}

:root {
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);
    --grayish-blue: hsl(229, 8%, 60%);
    --very-dark-blue: hsl(229, 31%, 21%);
}

body {
    font-size: 1.8rem;
    line-height: 1.5;
    background-color: white;
    display: grid;
    place-content: center;
    min-height: 100vh;
    position: relative;
}

.container {
    margin: 2.0rem;
}

header {
    margin: 2.2rem 2.2rem 0 2.2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active {
    display: none;
}

.navigation-links {
    display: none;
}

.hero-page {
    margin-top: 4.8rem;
    text-align: center;
    position: relative;
}

.banner::after {
    content: '';
    position: absolute;
    z-index: -100;
    background-color: var(--soft-blue);
    width: 100%;
    height: 100%;
    top: 2.5rem;
    border-radius: 100% 0 0 100%;
    right: -2.5rem;
}

.banner {
    display: flex;
    align-items: center;
    margin-bottom: 3.8rem;
    position: relative;
}

h1 {
    margin-bottom: 1.8rem;
}

.cta-group {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 1.0em;
}

.cta {
    /* border: 1px solid; */
    border-radius: 0.6rem;
    padding: 1.2rem 2.2rem;
    background-color: gainsboro;
}

.cta--blue {
    background-color: var(--soft-blue);
    color: white;
}





.features {
    text-align: center;
    margin-top: 5.5rem;
    /* position: relative; */
}

h2 {
    margin-bottom: 1.5rem;
}

.features p {
    margin-bottom: 3.8rem;
}

.features-sections {
    border-top: 0.1rem solid var(--grayish-blue);
    display: flex;
    flex-direction: column;
    margin-bottom: 4.8rem;
}

.features-sections button {
    padding: 1.5rem 0;
    border-bottom: 0.1rem solid var(--grayish-blue);
    position: relative;
}

.features-sections .selected::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 45%;
    height: 0.29rem;
    background-color: var(--soft-red);
}

.features-sections--display {
    display: flex;
    flex-direction: column;
    gap: 5.0rem;
    position: relative;
}

h3 {
    margin-bottom: 1.4rem;
}

.features-sections--display button {
    display: none;
}

.features-sections--display::after {
    content: '';
    position: absolute;
    z-index: -100;
    background-color: var(--soft-blue);
    width: 100%;
    height: 45%;
    top: 3.5rem;
    border-radius: 0 100%  100% 0;
    left: -5.0rem;
}





/* Jumped a section... */





.download-extension {
    text-align: center;
    margin-top: 6.8rem;
}

.browser-selection-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 5.0rem;
}

.browser-selection-group p {
    color: var(--grayish-blue);
    font-size: 1.5rem;
}

.browser-selection-group article {
    width: 28.0rem;
    box-shadow: 0 0.05rem 2.2rem gainsboro;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
}

.browser-selection-group img {
    margin-bottom: 2.5rem;
}

.browser-selection-group h4 {
    margin-bottom: 1.0rem;
    font-size: 2.2rem;
}

.browser-selection-group section {
    background-image: url('images/bg-dots.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 3.5rem;
}

.browser-selection-group button {
    margin: 2.5rem;
}





.questions {
    margin-top: 6.8rem;
    text-align: center;
}

.questions section {
    margin: 4.8rem 0;
}

.questions article {
    border-bottom: 0.1rem solid var(--grayish-blue);
}

.questions div {
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}





.register-section {
    background-color: var(--soft-blue);
    text-align: center;
    color: white;
    margin-top: 7.8rem;
    padding: 5.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-section h2 {
    line-height: 1.0;
}

.register-section span {
    font-weight: 400;
}

.cta--orange {
    background-color: var(--soft-red);
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

input {
    width: 100%;
    padding: 1.2rem 0.8rem;
    border-radius: 0.8rem;
}

input::placeholder {
    opacity: 0.5;
}

footer {
    background-color: var(--very-dark-blue);
    display: grid;
    place-content: center;
}

footer a {
    color: whitesmoke;
}

footer .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.wrapper:nth-child(1) ul {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.socials {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}